body
{
    font-family: 'Open Sans', sans-serif;
}
/* start for navbar style */
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title
{
    font-size: 80px;
    font-weight:800;
}
nav > ul
{
    display: flex;
    align-items: center;
}
.text-primary
{
    color: orangered;
}
nav li
{
    list-style: none;
    margin-right: 50px;
    
}
nav a
{
    text-decoration: none;
    color:grey;
}
.btn-class
{
    background-color: orangered;
    border-style: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

/* end for navbar style */