body
{
    font-family: 'Open Sans', sans-serif;
}

/* start for navbar style */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title
{
    font-size: 80px;
    font-weight:800;
}
nav > ul
{
    display: flex;
    align-items: center;
}
.text-primary
{
    color: orangered;
}
nav li
{
    list-style: none;
    margin-right: 50px;
    
}
nav a
{
    text-decoration: none;
    color:grey;
}
.btn-class
{
    background-color: orangered;
    border-style: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

/* end for navbar style */

.header
{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.banner
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.banner .profile-pic
{
    width:500px;
}

/* about me section styles */
main
{
    max-width:1140px;
    margin: 0 auto;

}
.about-me-section
{
    background-color: #FFF8F3;
   padding: 30px;
   border-radius: 10px;
   margin:50px 0px 50px 0px;
   
}
.about-me-heading
{
    font-size: 35px;
    text-align: center;
   
}
.about-section-description
{
    color: #757575;
    text-align: center;
   
}
.about-info-container
{
    display: flex;
    justify-content: space-around;
}
.info-title
{
    text-align: center;
}
/* what i do */
.what-i-do-description
{
    padding: 30px 150px;
}
#what-i-do
{
    text-align: center;
}
.skills-container
{
    display: flex;
}
.skills
{
    padding: 30px;
    text-justify: auto;
}
.resume-container
{
    display: flex;
    gap: 50px;
}
.download-cv
{
    text-align: center;
    
}
.footer
{
    display: flex;
    background-color: blanchedalmond;
    padding: 130px 200px;
}
.footer-column
{
    width: 50%;
}
